<form action="/checked" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_vXAWdJvKCqroSfeXXol2afN7"
            data-amount="999"
            data-name="zameen.com"
            data-description="We Sell Properties"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-billing-address = "true"
            data-locale="auto">
    </script>
</form>